<h1 mat-dialog-title>{{"Nova Tarefa"}}</h1>
<div mat-dialog-content>
    <p>Título da tarefa</p>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input [formControl]="title" matInput placeholder="Levar o cachorro para passear">
        </mat-form-field>
    </p>

    <p>Descrição</p>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque">
        </mat-form-field>
    </p>

    <h3>Status</h3>
    <mat-button-toggle-group (change)="changeStatus(toggleBtn.value)" #toggleBtn="matButtonToggleGroup" name="favoriteColor" aria-label="Favorite Color">
        <mat-button-toggle value="todo">Para fazer</mat-button-toggle>
        <mat-button-toggle value="progress">Em progresso</mat-button-toggle>
        <mat-button-toggle value="done">Concluído</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Ok</button>
</div>