.list {
	// background:lightyellow;
	width: 30vw;
	padding: 6px;
	margin: 5px;
	display: inline-block;
	
}

.list-title {
	display: flex;
	margin: 0;
	padding: 16px 0;
	justify-content: space-between;
}

.list a {
	width: 100%;
	display: block;
	text-decoration: none;
	margin-top: 10px;
}

.todo-title-input {
	margin: 10px;
}
