<div class="list">
	<div class="list-title">
		<span><strong>{{list?.name}}</strong></span>
		<button (click)="toggleAddCard()" color="primary" mat-icon-button class="add-icon" aria-label="Adicionar">
			<mat-icon>add_icon</mat-icon>
		</button>
	</div>

	<p *ngIf="addCard">
		Pressione Enter para adicionar (Esc para cancelar)
        <mat-form-field  appearance="fill">
          	<mat-label>Título</mat-label>
			<input #addCardInput type="text" (keyup.esc)="toggleAddCard()" (keyup.enter)="onEnter(addCardInput.value, list?.status); addCardInput.value=''; addCard=false;" autofocus matInput placeholder="Levar o cachorro para passear">
        </mat-form-field>
    </p>

	<mat-action-list >
		<app-card *ngFor="let card of list?.cards" [card]="card"></app-card>
	</mat-action-list>


</div>