<div *ngIf="!toggleEdit && id">
  <div mat-dialog-content>
    <h1 mat-dialog-title>{{ title.value }}</h1>
    <div>
      {{
        description.value
          ? description.value
          : "Clique em editar para adicionar uma descrição."
      }}
    </div>
    <br />
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="toggleEdit = true">
      Editar
    </button>
    <button mat-raised-button color="warn" (click)="onDelete()">Remover</button>
  </div>
</div>

<div *ngIf="!id ||toggleEdit">
  <div mat-dialog-content>
    <h1 mat-dialog-title>{{id ? 'Editando ' + title.value : 'Adicionando Nova Tarefa'}}</h1>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input
          [formControl]="title"
          matInput
          placeholder="Levar o cachorro para passear"
        />
      </mat-form-field>
    </p>

    <p>Descrição</p>
    <p class="todo-title-input">
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea
          [formControl]="description"
          matInput
          placeholder="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque"
        ></textarea>
      </mat-form-field>
    </p>

  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      (click)="onSubmit()"
    >
      Ok
    </button>
    <button mat-raised-button color="accent" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</div>
