<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lista de Tarefas</span>
      <span class="todo-toolbar"></span>
      <button mat-icon-button (click)="openDialog(undefined, undefined)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- <div>
    <app-list *ngFor="let list of lists" [list]="list" [cardStore]="cardStore"></app-list>
</div> -->

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="todo-tree">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <button mat-button (click)="openDialog(node._id)">
      {{node.title}}
    </button>
    <button mat-icon-button (click)="openDialog(undefined, node._id)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <button mat-button (click)="openDialog(node._id)">
        {{node.title}}
      </button>
      <button mat-icon-button (click)="openDialog(undefined, node._id)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div [class.todo-tree-invisible]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>

</mat-tree>